<html>
   
   <head>
      <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
   </head>
   
   <body ng-app = "myapp">
      
      <div ng-controller = "HelloController" >
         <h2>Welcome {{helloTo.title}} to the world of Tutorialspoint!</h2>
      </div>
      
	  <div ng-controller = "HelloController" >
         <h2>Welcome {{helloTo.title1}} to the world of Tutorialspoint!</h2>
      </div>
      <script>
		angular.module("myapp", [])

		.controller("HelloController", function($scope) {
			$scope.helloTo = {};
			$scope.helloTo.title = "AngularJS";
			$scope.helloTo.title1 = "First AngularJS";
			
		});
		 
      </script>
      
   </body>
</html>