<div>
	<snap-drawer>
		<div class="snap-menu">
			<div class="sidebar-header text-center">
				<img src="images/flat-avatar.png" alt="" class="sidebar-img img-circle">
			</div>
			<ul class="snap-ul">
				<li ng-class="{active: $state.includes('overview')}"><a ui-sref="overview">HOME</a></li>
				<li ng-class="{active: $state.includes('users')}"><a ui-sref="users">USERS</a></li>
				<li ng-class="{active: $state.includes('students')}"><a ui-sref="users">STUDENTS</a></li>
				<li ng-class="{active: $state.includes('reports')}"><a ui-sref="reports">REPORTS</a></li>
				<li><a ui-sref="login">LOGOUT</a></li>
			</ul>
		</div>
	</snap-drawer>
	<snap-dragger></snap-dragger>
	<snap-content snap-opt-tap-to-close="false" class="bg-dark">
		<a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
			</span>
		</a>
		
		<div class="jumbotron">
			<div class="container">
				<div class="col-md-12"> 
					<div class="panel panel-info"> 
						<div class="panel-heading"> 
							<h3 class="panel-title">Users </h3> 
							<div class="btn btn-primary btn-lg btn-white">Add User</div>
						</div> 
						<div class="panel-body"> 
							<table class="table table-striped"> 
								<thead> 
									<tr> 
										<th>Name</th> 
										<th>Email</th> 
										<th>Phone</th> 
										<th>Class</th> 
										<th>Department</th> 
									</tr> 
								</thead> 
								<tbody> 
									<tr> 
										<td>John</td> 
										<td>john@gmail.com</td> 
										<td>London, UK</td> 
										<td>London, UK</td> 
										<td>London, UK</td> 
									</tr> 
									<tr> 
										<td>John</td> 
										<td>john@gmail.com</td> 
										<td>London, UK</td> 
										<td>London, UK</td> 
										<td>London, UK</td> 
									</tr> 
									<tr> 
										<td>John</td> 
										<td>john@gmail.com</td> 
										<td>London, UK</td> 
										<td>London, UK</td> 
										<td>London, UK</td> 
									</tr> 
								</tbody> 
							</table> 
						</div> 
					</div> 
				</div>
			</div>
		</div>
			
	</snap-content>	
</div>