<div>
	<snap-drawer>
		<div class="snap-menu">
			<div class="sidebar-header text-center">
				<img src="images/flat-avatar.png" alt="" class="sidebar-img img-circle">
			</div>
			<ul class="snap-ul">
				<li ng-class="{active: $state.includes('overview')}"><a ui-sref="overview">HOME</a></li>
				<li ng-class="{active: $state.includes('users')}"><a ui-sref="users">USERS</a></li>
				<li ng-class="{active: $state.includes('reports')}"><a ui-sref="reports">REPORTS</a></li>
				<li><a ui-sref="login">LOGOUT</a></li>
			</ul>
		</div>
	</snap-drawer>
	<snap-dragger></snap-dragger>
	<snap-content snap-opt-tap-to-close="false">
		<a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
			</span>
		</a>
		<div class="table-list">
			<div class="fr">
			<h2>Add User</small></h2>
			</div>
			<div class="jumbotron main-content">
				<div class="container" ng-controller="StudentsCtrl">
					<div class="form-content">
						<form role="form" class="bottom-75" ng-submit="submit_user_form()">
							<div class="table-form">
								<div class="form-groups">
									<div class="form-group">
										<input type="text" class="form-control input-lg" id="" placeholder="First Name" ng-model="firstname" name="firstname">
									</div>
									<div class="form-group">
										<input type="text" class="form-control input-lg" id="" placeholder="Last Name" ng-model="lastname" name="lastname">
									</div>
									<div class="form-group">
										<input type="text" class="form-control input-lg" id="" placeholder="Email" ng-model="email" name="email">
									</div>
								</div>
								<div class="button-container">
									<button type="submit" class="btn btn-default add-user"><img src="images/arrow.png" alt=""></button>
								</div>
						</form>
					</div>
				</div>
			</div>
	</snap-content>	
</div>