<div class="login-page">
	<div class="img-container">
		<div class="text-center pull-right photo">
			<img src="images/flat-avatar.png" class="user-avatar img-circle img-responsive" />
				<h1>PATTRONIZE<br/ > <span>DASHBOARD</span><br /></h1>
			</div>
		</div>
		
		<div class="form-content">
			<form role="form" class="bottom-75" ng-submit="submit_form(loginForm.$valid)" name="loginForm" novalidate>
			<div class="table-form">
				<div class="form-groups">
					<ul>
					<li class="err" ng-repeat="error in errors"> {{ error}} </li>
					</ul>
					<ul>
					<li class="info" ng-repeat="msg in msgs"> {{ msg}} </li>
					</ul>
					<div class="form-group">
						<input type="text" class="form-control input-lg" id="" placeholder="EMAIL" ng-model="username" name="username" required>
						<span ng-show="loginForm.username.$touched && loginForm.username.$invalid">The name is required.</span>
						<span ng-show="loginForm.username.$error.required">Username is required.</span>
					</div>
					<div class="form-group">
						<input type="password" class="form-control input-lg" id="" placeholder="PASSWORD" ng-model="password" name="password" required>
					</div>
				</div>	
				<div class="button-container">
					<input type="submit" class="btn btn-default login"><img src="images/arrow.png" alt="">
				</div>
			</div>
			<div class="remember">
				<label class="checkbox1" for="Option"> 
					<input id="Option" type="checkbox" class="">
					<span></span>
				</label>
				remember me
				<span class="pass"> forgot password?</span>
			</div>			
			</form>
		</div>			
	</div>
</div>