<html>
<head>
	<title>Insert New input</title>
</head>
<body ng-app="mainApp">
	<div ng-controller="FruitsControl">
    Add more fruits :
	<form id="fruit-form" ng-submit="addFruit()">
		<input type="text" ng-model="newFruit" autofocus>
	</form>
	List of Fruits :
    <ul>
		<li ng-repeat="fruit in fruits | filter:statusfilter">
			 <span editable-text="fruit.value">{{ fruit.value }}</span>
			<button ng-click="removeFruit($index)">Remove</button>
		</li>
	</ul>
	<div id="footer" ng-show="fruits.length" ng-cloak>
		<a ng-class="{selected: status == ''} " href="#/" ng-click="statusfilter={}">All</a>
		<a ng-class="{selected: status == ''} " href="#/instock" ng-click="statusfilter={status:'instock'}">In stock</a>
		<a ng-class="{selected: status == ''} " href="#/outstock" ng-click="statusfilter={status:'outstock'}">Out Of Stock</a>
	</div>
    <hr />
	</div>
	<script src="js/angular.js"></script>
	<script src="js/xeditable.min.js"></script>
	<link href="css/xeditable.css" rel="stylesheet">
	<script src="js/app.js"></script>
	<script src="js/controller/inputSaveCtrl.js"></script>
</body>
</html>