<div>
	<snap-drawer>
		<div class="snap-menu">
			<div class="sidebar-header text-center">
				<img src="images/flat-avatar.png" alt="" class="sidebar-img img-circle">
			</div>
			<ul class="snap-ul">
				<li ng-class="{active: $state.includes('overview')}"><a ui-sref="overview">HOME</a></li>
				<li ng-class="{active: $state.includes('users')}"><a ui-sref="users">USERS</a></li>
				<li ng-class="{active: $state.includes('reports')}"><a ui-sref="reports">REPORTS</a></li>
				<li><a ui-sref="login">LOGOUT</a></li>
			</ul>
		</div>
	</snap-drawer>
	<snap-dragger></snap-dragger>
	<snap-content snap-opt-tap-to-close="false" class="bg-dark">
		<a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
			</span>
		</a>
		
		<div class="fr">
		<h2>Reports <small>Work with Chart.js and D3</small></h2>
		</div>
		<span class="glyphicon glyphicon-dashboard bg-fade"></span>
		<div class="jumbotron">
			<div class="container">
				<h1>Add Charts here</h1>
				<p>You can use C3.js or Chart.js</p>
				<p>
					<a class="btn btn-primary btn-lg btn-white" ui-sref="overview">Back to Overview</a>
				</p>
			</div>
		</div>
	</snap-content>	
</div>